html,body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.4s, color 0.3s;
  background: linear-gradient(#000000, #a5124c);
    color: white;
    font-family: monospace;
    text-align: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#title {
  font-size: 2.2em;
      margin-bottom: 10px;
      color: #ff88dd;
      font-family: "Georgia", serif;
      text-shadow: 0 0 8px #ff80c0;
    text-decoration: underline;
    font-size: 41px;
}

#bttn {
 font-family: monospace;
  font-size: 16px;
  color: white;
  background: #ff69b4;
  padding: 10px 24px;
  border-radius: 6px;
  box-shadow: 0 0 8px var(--button-border-color, #ffb6c1);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  margin: 10px;
  gap: 10px;
}

#bttn:hover {
  color: white;
  box-shadow: 0 0 16px #ffb6c1;
  transform: scale(1.06);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

#thetime {
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-size: 12px;
    color: white;
  font-family: "Georgia";
}

.buttons {
  display: flex;
}

#loading-screen {
  position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#000000, #a5124c);
    font-size: 2.2em;
      margin-bottom: 10px;
      color: #ff88dd;
      font-family: "Georgia", serif;
      text-shadow: 0 0 8px #ff80c0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9998;
    opacity: 1;
    transition: opacity 1s ease;
}

.frame {
	border: none;
    text-align: center;
    justify-content: center;
   height: 100%;
   width: 100%;
}

#theweather {
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-size: 12px;
    color: white;
  font-family: "Georgia";
  margin-left: 5px;
}